[Bb]in
[Oo]bj
[Dd]ebug
bin\Debug
obj\Debug
[Tt]est[Rr]esults
*.suo
*.user
*.[Cc]ache
*[Rr]esharper*
#packages
NuGet.exe
_[Ss]cripts
*.exe
*.dll
*.nupkg
*.ncrunchsolution
*.dot[Cc]over
*.vsp
*.psess
*.orig
